@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary: #391952;
    --secondary: #B97FE6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fefefe;
}

p {
    font-size: 22px;
    color: var(--primary);
}

.container {
    max-width: 1400px;
    padding: 0 5px;
    margin: 0 auto;
    /* overflow: hidden; */
}

.secondary-text {
    color: var(--secondary);
}
.third-text{
    color:#5A7AF9;
}

.button {
    background: var(--primary);
    color: #f5f5f5;
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    border: 1px solid var(--primary);
    font-weight: 600;
    transition: 0.3s;
}

.button:hover {
    color: var(--primary);
    background: #f5f5f5;
}

.link-btn{
    padding: 12px 30px;
    border-radius: 25px;
    font-size: 16px;
    border: none;
    outline: none;
    font-weight: 600;
    transition: 0.3s;
    color: var(--primary);
    background: none;
    border: 1px solid #fff0;
}
.link-btn:hover{
    background: var(--primary);
    color: #f5f5f5;
    
}
.sub-title {
    font-size: 72px;
    line-height: 80px;
    font-family: "Plus Jakarta Sans", sans-serif;
    color: var(--primary);
    font-weight: 800;
}
.third-title{
    font-size: 54px;
    line-height: 60px;
    color: var(--primary);
}

/* nav style ------- */
nav{
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 1;
}
.navbar{
    background: #fff9;
    box-shadow: 0px 0px 30px #0001;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    border-radius: 15px;
    position: relative;
}
.navbar>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}
.navbar>ul>li{
    padding: 10px 20px;
    list-style: none;
}
.navbar>ul>li>a{
    text-decoration: none;
    font-size: 18px;
    color: var(--primary);
}

.nav-icons>.login-btns{
    display: flex;
    gap: 10px;
}
.nav-icons>.fa-solid{
    font-size: 30px;
    margin: 0 10px;
    display: none;
}

/* ------ banner style start from here ----- */
.banner {
    height: 100vh;
    width: 100%;
    background: url('./image/banner-2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-bottom: 5%;
}

.main-title {
    font-size: 100px;
    text-align: center;
    line-height: 100px;
    color: var(--primary);
    width: 100%;
    max-width: 650px;
    font-weight: 800;
}

.banner-text {
    padding: 20px 0;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    font-weight: 500;
}

.banner-btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* rating start here ---------- */
.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 670px;
    margin: 50px auto;
}

.rating>div {
    width: 33%;
    padding: 5px 14px;
}

.rating>div:nth-child(3) {
    border-left: 3px solid var(--primary);
}

.star {
    display: flex;
    color: var(--primary);
    margin-bottom: 20px;
}

.star>i {
    font-size: 20px;
}

.rating-text {
    font-weight: lighter;
    font-size: 16px;
    color: #A292AF;
}

.rating-subtitle {
    font-weight: 700;
    font-size: 16px;
}

.rating-btn {
    border: none;
    cursor: pointer;
    color: var(--secondary);
    font-weight: 600;
}


/* improve writing start ------ */
.improve-writing {
    padding: 50px 5px;
}

.improve-writing-content {
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.improve-writing-content-box {
    width: 100%;
    max-width: 70%;
}

.improve-writing-content-box>p {
    width: 100%;
    max-width: 640px;
    padding: 24px 0;
}

.improve-writing-hand {
    width: 20%;
}

.improve-writing-item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 10px;
}

.improve-writing-item>.item {
    width: 30%;
    max-width: 400px;
    padding:15px 5px;
}

.improve-writing-item>.item>.item-img {
    height: 76px;
    width: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F0E7F9;
    border-radius: 50%;
}

.improve-writing-item>.item>h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
    padding: 16px 0;
}

.improve-writing-item>.item>p {
    font-size: 18px;
}

/* email start ------ */
.email{
    padding: 50px 5px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.email>div{
    width: 45%;
    padding: 10px;
}
.email>div>p{
    padding: 20px 0;
}
.email>div>img{
    width: 100%;
}

/* rewrite start -------- */
.rewrite{
    padding: 50px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.rewrite>div{
    width: 45%;
    padding: 10px;
}
.rewrite>div>p{
    padding: 20px 0;
}
.rewrite>div>img{
    width: 100%;
}


/* tools start ------- */
.tools{
    padding: 50px 5px;
}
.tools-head{
    text-align: center;
}
.tools-head>p{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 0;
}
.tools-items{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.tool-card{
    padding: 70px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}
.tool-card>div{
    width: 45%;
    
}
.tool-card>div>img{
    width: 100%;
}
.tool-card>div>h3{
    font-size: 50px;
}
.tool-card>div>p{
    padding: 20px 0;
}

.tool-item-1{
    background: #F8F1FC;
}
.tool-item-1>div>h3{
    color: #B97FE6;
}
.tool-item-2{
    background: #FAEAE6;
}
.tool-item-2>div>h3{
    color: #EBA999;
}
.tool-item-3{
    background: #E5EFFF;
}
.tool-item-3>div>h3{
    color: #7AADFF;
}


/* enhance-tools start */
.enhance-tools{
    padding: 50px 5px;
}
.enhance-tool-title>p{
    padding: 20px 0;
}
.enhance-tools-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 16px;
}
.enhance-tools-content>.item{
    width: 30%;
    max-width: 370px;
}
.enhance-tools-content>.item>p{
    font-size: 18px;
}
.enhance-tools-content>.item>h4{
    font-size: 24px;
    font-weight: 600;
    color: var(--primary);
    padding: 16px 0;
}
.enhance-tools-content>.item>.image{
    height: 60px;
    width: 60px;
}
.enhance-tools-content>.item>.image>img{
    width: 100%;
}


/* more power start ------- */
.more-power{
    padding: 50px 5px;
}
.power-title{
    max-width: 75%;
}
.power-title>p{
    padding: 20px 0;
}
.power-items{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 16px;
    flex-wrap: wrap;
}
.power-items>.card{
    width: 32%;
    min-width: 370px;
    text-align: center;
    padding: 40px 30px;
    border-radius: 16px;
}
.power-items>.card>.image{
    width: 120px;
    margin: 0 auto;
}
.power-items>.card>.image>img{
    width: 100%;
}
.power-items>.card>h4{
    font-size: 24px;
    font-weight: 600;
    padding: 16px 0;
}
.power-items>.card>p{
    font-size: 18px;
}
.power-items>.card:nth-child(1){
   background: #F8F1FC; 
}
.power-items>.card:nth-child(2){
   background: #E5EFFF; 
}
.power-items>.card:nth-child(3){
   background: #FAEAE6; 
}

/* user start ----------- */
.user{
    padding: 70px 0 50px;
    width: 100%;
    background: #F9F7F5;
}
.user-title{
    text-align: center;
}

marquee {
    width: 100%;
    white-space: nowrap;
    padding: 15px ;
}

.marquee-content {
    display: inline-flex;
}
.user-card{
    background: #fefefe;
    width: 400px;
    border-radius: 15px;
    padding: 15px;
    height: auto;
    margin: 0 10px;
}
.user-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.user-info>h4{
    font-size: 20px;
    font-weight: 600;
}
.user-card>.review{
    font-size: 14px;
    width: 100%;
    text-wrap: wrap;
    margin-top: 10px;
    height: 85px;
    overflow: hidden;
}
.user-info>.name{
    display: flex;
    justify-content: start;
    gap: 15px;
    align-items: center;
}
.user-info>.name p{
    font-size: 14px;
    font-weight: 300;
}
.user-info>.name img{
    height: 48px;
    width: 48px;
}
.user-info>.twitter{
    font-size: 36px;
    color: #0798F0;
}

marquee {
    width: 100%;
    white-space: nowrap;
}

.marquee-content {
    display: inline-flex;
    margin: 0 10px;
}


/* faq start -------- */
.faq{
    padding: 50px 5px;
}
.faq>h2{
    text-align: center;
}
.faq-content{
    width: 100%;
    max-width: 1000px;
    margin: 50px auto;
    
}
.faq-box{
    position: relative;
    border-bottom: 1px solid var(--primary);
    margin: 10px 0;
}
.faq-box>.level{
    position: relative;
    cursor: pointer;
    padding: 15px 0;
}
.faq-box>.level::before{
    content: '+';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 28px;
    color: var(--primary);
}
.faq-box.active>.level::before{
    content: '-';
}
.faq-box>.level>h4{
    font-size: 28px;
    color: var(--primary);
}
.faq-box>.content{
    position: relative;
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    transition: 0.3s;
}
.faq-box>.content>p{
    font-size: 18px;
    color: var(--primary);
}
.faq-box.active>.content{
    height: 120px;
    overflow: hidden;
}

/* ai start  -----------*/
.ai{
    padding: 50px 5px;
}
.ai-content{
    padding: 100px 20px;
    border-radius: 16px;
    background: var(--secondary);
    text-align: center;
}
.ai-content>div{
    width: 70%;
    margin: 0 auto;
}
.ai-input-box{
    display: inline-block;
    border-radius: 25px;
    overflow: hidden;
    margin: 30px 0;
    background: #ffffff60;
    padding: 1px 2px;
}
.ai-input-box>input{
    background: none;
    border: none;
    outline: none;
    padding: 12px 10px;
}
.ai-input-box>button{
    background: white;
    border: none;
    outline: none;
    padding: 10px 16px;
    border-radius: 25px;
    color: var(--primary);
    font-weight: 600;
}
.feature{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}
.feature>div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 20%;
    min-width: 250px;
}
.feature>div>p{
    font-size: 18px;
}


/* media start ------- */
.media{
    padding: 30px 5px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}
.media-link{
    width: 30%;
    min-width: 300px;
    padding: 10px;
    color: var(--primary);
}
.media-link p{
    font-size: 16px;
}
.media-link>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media-link>div>div{
    display: flex;
    align-items: center;
    gap: 10px;
}
.media-link>hr{
    margin: 16px 0;
}

/* footer start ------- */
footer{
    display: flex;
    flex-direction: row;
}
.footer-content{
    display: flex;
    justify-content: space-around;
    width: 50%;
}
.footer-content>div>h4{
    color: #20231E;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 0;
}
.footer-content>div>ul{
    list-style: none;
}
.footer-content>div>ul>li{
    padding: 12px 0;
}
.footer-content>div>ul>li>a{
    text-decoration: none;
    color: #1F1F1F;
    font-size: 18px;
}

.copy{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    padding: 40px 0;
    margin-top: 40px;
    gap: 20px;
    align-items: center;
}
.copy>p, .copy>a{
    text-decoration: none;
    font-size: 14px;
    color: #1F1F1F;
}



/* -----------------------tablet---------------- */
@media screen and (max-width: 767px) {
    p {
        font-size: 20px;
    }

    .sub-title {
        font-size: 45px;
        line-height: 55px;
    }
    .third-title{
        font-size: 40px;
        line-height: 45px;
    }
    .main-title {
        font-size: 65px;
        line-height: 70px;
        max-width: 500px;
    }

    .navbar>ul{
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5px;
        align-items: center;
        background: #fff9;
        box-shadow: 0px 0px 30px #0001;
        z-index: 1;
        overflow: hidden;
        transition: all 0.4s;
    }
    .nav-icons>.fa-solid{
        font-size: 30px;
        margin: 0 10px;
        display: inline-block;
        color: var(--primary);
    }
    .nav-icons>.login-btns{
        position: absolute;
        flex-direction: column;
        width: 220px;
        top: 100px;
        right: 0;
        align-items: center;
        background: #fff9;
        box-shadow: 0px 0px 30px #0001;
        padding: 0 10px;
        z-index: 0.9;
        overflow: hidden;
    }

    #login-btns{
        transition: all 0.4s;
    }
    
    .banner-text {
        max-width: 500px;
    }


    /* improve-writing */
    .improve-writing-content-box {
        z-index: 1;
        max-width: 90%;
    }

    .improve-writing-content-box>p {
        width: 100%;
        max-width: 640px;
        padding: 24px 0;
        z-index: 1;
    }

    .improve-writing-hand {
        position: absolute;
        right: 0;
        bottom: 50%;
        transform: translateY(50%);
        z-index: 0;
        width: 30%;
    }

    .improve-writing-item>.item {
        width: 48%;
    }

    .email>div{
        width: 50%;
    }
    .rewrite>div{
        width: 50%;
    }

    .enhance-tools-content>.item{
        width: 48%;
        max-width: 370px;
    }


    .power-title{
        max-width: 100%;
    }
    .power-items{
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: space-between;
        gap: 16px;
    }
    .power-items>.card{
        width: 48%;
        min-width: 48%;
        padding: 24px 16px;   
    }

    .ai-content{
        padding: 70px 20px;
    }
    .ai-content>div{
        width: 90%;
        margin: 0 auto;
    }

    .faq-box.active>.content{
        height: 140px;
        overflow: hidden;
    }

    footer{
        flex-direction: column;
        gap: 20px;
    }
    .footer-content{
        width: 100%;
    }
}

@media screen and (max-width: 479px) {
    p {
        font-size: 18px;
    }

    .sub-title {
        font-size: 40px;
        line-height: 50px;
    }
    .third-title{
        font-size: 36px;
        line-height: 42px;
    }
    .main-title {
        font-size: 55px;
        line-height: 60px;
        max-width: 500px;
    }



    /* rating ---- */
    .rating {
        flex-direction: column;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }

    .rating>div {
        width: 100%;
    }

    .rating>div:nth-child(3) {
        border: none;
    }

    .improve-writing-item>.item {
        min-width: 100%;
    }

    .email{
        flex-direction: column;
    }
    .email>div{
        width: 100%;
    }
    .rewrite{
        flex-direction: column;
    }
    .rewrite>div{
        width: 100%;
    }

    .tool-card{
        padding: 40px 30px;
        flex-direction: column;
        gap: 20px;
    }
    .tool-card>div{
        width: 100%; 
    }

    .enhance-tools-content>.item{
        width: 100%;
        max-width:100% ;
    }

    .power-items>.card{
        width: 100%;
        min-width: 100%;
        padding: 24px 16px;   
    }
    .ai-content{
        padding: 60px 10px;
    }
    .ai-content>div{
        width: 100%;
        margin: 0 auto;
    }

    .faq-box.active>.content{
        height: 160px;
        overflow: hidden;
    }
}